<h2 class="ui dividing header">Call To Action Management</h2>
<p class="">Here is where you can edit/update your call to action. This is located on the main page of your website. In other words the very first thing your visitors will read.</p>
<div class="ui grid">
	<div class="eight wide column">
	<h4 class="cta-preview">CTA Preview</h4>		
		<div class="ui segment" style="text-align: center; background-color: #1b1c1d; color: white; margin-top: 0 !important;">
			<p style="font-size: 2em;">{{ (cta | async )?.headerText }}</p>
			<p style="font-size: 1.5em;">{{ (cta | async )?.subHeaderText }}</p>
			<button class="ui disabled button blue">View More!</button>
		</div>
	</div>
	<div class="eight wide column">
		<div class="ui form">
			<div class="field">
				<label>Main Header Text</label>
				<textarea #newHeaderText rows="2" value="{{ (cta | async )?.headerText }}"></textarea>
			</div>
			<div class="field">
				<label>Sub Header Text</label>
				<textarea #newSubHeaderText rows="2" value="{{ (cta | async )?.subHeaderText }}"></textarea>
			</div>
			<button class="positive ui button" (click)="update(newHeaderText.value, newSubHeaderText.value)">Save</button>
		</div>
	</div>
</div>
