<h2 class="ui dividing header">Call To Action Management</h2>
<p class="">Here is where you can edit/update your call to action. This is located on the main page of your website. In other words the very first thing your visitors will read.</p>
<div class="ui form">
  <div class="field">
    <label>Main Header Text</label>
    <textarea rows="2"></textarea>
  </div>
  <div class="field">
    <label>Sub Header Text</label>
    <textarea rows="2"></textarea>
  </div>
  <button class="positive ui button" type="submit">Save</button>
</div>